* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: #000;
    text-decoration: none;
}

li {
    list-style: none;
}

p {
    text-indent: 2em;
}

.box {
    width: 100%;
}

.w {
    width: 1200px;
    margin: 0 auto;
}
.x{
	width: 1200px;
	margin: 0 0 0 330px ;
}

.head {
    width: 100%;
    height: 100px;
    padding: 10px 15px;
}

.head img {
    float: left;
}

.head .search {
    float: right;
    margin-top: 20px;
}

.search input {
    padding-left: 10px;
    width: 240px;
    height: 30px;
    border: 1px solid #ccc;
    outline: none;
}

.search button {
    width: 50px;
    height: 30px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #007acc;
}

.nav {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #007acc;
}

.nav li {
    float: left;
    width: 20%;
    text-align: center;
}

.nav li a {
    color: #fff;
}

.nav li:hover {
    background-color: #fff;
}

.nav li:hover a {
    color: #007acc;
}

.banner img {
    display: block;
    width: 100%;
}

.main {
    width: 100%;
    overflow: hidden;
}

.m1 {
    width: 100%;
    overflow: hidden;
}

.xczx,
.sn {
    float: left;
    padding: 15px;
    width: 860px;
}

.xczx h2,
.sn h2 {
    line-height: 50px;
    border-bottom: 1px solid #ccc;
}

.xczx h2 a {
    float: right;
    font-size: 16px;
}

.xczx li {
    float: left;
    width: 263px;
    margin-right: 20px;
}

.xczx li:nth-child(3n) {
    margin-right: 0;
}

.xczx ul,
.sn ul {
    width: 100%;
    margin: 20px auto;

}

.xczx li img {
    display: block;
    width: 100%;
    height: 150px;
}

.xczx li {
    line-height: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.xczx li:hover {
    cursor: pointer;
    color: #fff;
    background-color: #007ACC;
}

.news {
    float: right;
    padding: 15px;
    width: 320px;
}

.news h2 {
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.news ul {
    margin-top: 20px;
}

.news li {
    font-size: 14px;
    line-height: 30px;
    border-bottom: 1px dashed #ccc;
}

.news li:hover {
    color: #007ACC;
    font-weight: bold;
    cursor: pointer;
}

.footer {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background-color: #007acc;
}

.sn li {
    margin-bottom: 15px;
    padding: 15px;
    width: 100%;
    height: 150px;
    background-color: #eee;
    cursor: pointer;
    transition: all .3s;
}

.sn li:hover {
    transform: translate(10px, -10px);
}

.sn li b {
    line-height: 40px;
    font-size: 20px;
}

.sn li p {
    text-indent: 0;
    line-height: 30px;
}

.sn li span {
    float: right;
}

.sz {
    padding: 30px 0;
}

.sz h2 {
    text-align: center;
    line-height: 60px;
}

.sz p {
    line-height: 30px;
}

.sz img {
    display: block;
    width: 600px;
    margin: 10px auto;
}
.yczx,
.sn {
    float: center
    padding: 15px;
    width: 860px;
	
}

.yczx h2 a {
    float: right;
    font-size: 16px;
}

.yczx li {
    float: left;
    width: 263px;
    margin-right: 20px;
}

.yczx li:nth-child(3n) {
    margin-right: 20;
}

.yczx ul,
.sn ul {
	
    width: 100%;
    margin: 20px auto;

}

.yczx li img {
	
    display: block;
    width: 100%;
    height: 150px;
}

.yczx li {
    line-height: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.yczx li:hover {
    cursor: pointer;
    color: #fff;
    background-color: #007ACC;
	}